.nav {
    display: flex;
    background-color: #292929;
}
.nav-button {
    background-color: #292929;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
    padding: 0.8rem;
    transition: all 0.5s;
    cursor: pointer;
}

.auth {
    flex:1;
    align-self: center;
    text-align: end;
}
.login-button, .logout-button, .register-button, .username-button {
    background-color: #292929;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 0.8rem;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0.25em;
}