.problem-section {
  display: flex;
  justify-content: center;
  height: 80vh;
}

.problem-details {
  flex: 1;
  padding: 8px;
  margin-left: 8px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.code-editor {
  flex: 1;
  padding: 8px;
}